[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
radon = "*"
pylint = "*"

[packages]
django = "*"
psycopg2 = "*"
ipdb = "*"

[requires]
python_version = "3.8"
